<div class="m-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    Sobre Nosotros
                </button>
            </h2>
            <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="columna">
                        <div class="accordion-img">
                            <div>
                                <img src="../../../assets/nosotros.jpg" alt="">
                            </div>
                        </div>
                        Todo lo que hacemos tiene sus raíces en el deporte. El deporte desempeña un papel cada vez 
                        más importante en la vida de más personas, dentro y fuera del terreno de juego. Es fundamental 
                        para todas las culturas y sociedades, y es fundamental para nuestra salud y felicidad.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    Nuestro Propósito
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="columna">
                        <div class="accordion-img">
                            <div>
                                <img src="../../../assets/proposito.png" alt="">
                            </div>
                        </div>
                        Nuestro propósito, "A través del deporte, tenemos el poder de cambiar vidas", guía la forma en que 
                        gestionamos nuestra empresa, cómo trabajamos con nuestros socios, cómo creamos nuestros productos y 
                        cómo nos relacionamos con nuestros consumidores. Siempre nos esforzaremos por ampliar los límites de 
                        las posibilidades humanas, incluir y unir a las personas en el deporte y crear un mundo más sostenible.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Nuestra Misión
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="columna">
                        <div class="accordion-img">
                            <div>
                                <img src="../../../assets/mision.png" alt="">
                            </div>
                        </div>
                        Los deportistas no se conforman con el promedio. Y nosotros tampoco. Tenemos una misión clara: Ser la 
                        mejor marca deportiva del mundo. Todos los días venimos a trabajar para crear y vender los mejores 
                        productos deportivos del mundo y ofrecer el mejor servicio y experiencia al consumidor, y hacerlo todo 
                        de forma sostenible. Somos los mejores cuando somos el líder creíble, inclusivo y sostenible de nuestra industria.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>