.espacio-entre{
    display: flex;
    flex-direction: column;
    flex: auto;
}.navbar-icon{
    width: 30px;
    height: 30px;
}.perfil{
    border-radius: 15px;
}

.nav-item{
    list-style: none;
}.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.nav-bar>.rigth-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}