.carrito{
    margin: 30px;
    background-color: #f8f9fa;
    max-width: 500px;
}.imagen-tabla{
    width: 50px;
    height: 50px;
}.navbar-icon{
    width: 30px;
    height: 30px;
}.offcanvas-end{
    width: 600px;
}.reserve-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}.reserve{
    display: flex;
    flex-direction: column;
    gap: 10px;

}