<img class="navbar-icon" src="../../../assets/carrito.svg" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito para reservar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="reserve-group">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Talla</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Unidades</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vestimentaItem of vestimentaList;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td><img src="{{vestimentaItem.vestimenta.imagen}}" alt="" style="width: 80px;"></td>
                            <td>{{vestimentaItem.vestimenta.titulo}}</td>
                            <td>{{vestimentaItem.vestimenta.talla.talla}}</td>
                            <td>${{vestimentaItem.vestimenta.costo}} COP</td>
                            <td>{{vestimentaItem.vestimenta.unidadesVestimenta}}</td>
                            <td><button class="btn btn-secondary" (click)="removeVestimenta(vestimentaItem)"><i
                                        class="bi bi-trash3"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="reserve">
                <h2>Total: ${{costo$|async}} COP</h2>
                    <div>
                        <label for="calendar" class="form-label">Fecha a recoger</label>
                        <input type="date" [(ngModel)]="fechaEntrega" id="calendar" class="form-control"
                            aria-describedby="passwordHelpBlock">
                    </div>
                    <div class="alert alert-warning" *ngIf="hasDate==false" role="alert">
                        Por favor, selecciona una fecha a recoger
                    </div>
                    <div class="alert alert-danger" *ngIf="hasVestimentas==false" role="alert">
                        No hay vestimentas a reservar
                    </div>
                    <div class="alert alert-success" *ngIf="isReservado==true" role="alert">
                        Se ha reservado exitosamente
                    </div>

                    <button type="button" class="btn btn-success" style="width: fit-content;" (click)="reservar()">Reservar</button>

            </div>
        </div>
    </div>
</div>