<div class="form-center">
    <form class="form-width row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" [value]="persona.correo" class="form-control" id="inputEmail4" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" [value]="persona.password" class="form-control" id="inputPassword4" disabled>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="inputAddress" [value]="persona.nombre+' '+persona.apellido" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Celular</label>
          <input type="text" class="form-control" [value]="persona.celular" id="inputCity" disabled>
        </div>
        <div class="col-md-6">
          <label for="inputZip" class="form-label">Rol</label>
          <input type="text" class="form-control" [value]="persona.rol.id" id="inputZip" disabled>
        </div>

        <div class="col-12" *ngIf="persona.rol.id=='ADMIN'">
          <button type="submit" class="btn btn-primary" (click)="irAdmin()">Ir a administrar</button>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Editar información</button>
          </div>
      </form>
</div>