.wrap-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

}.columna-resultado{
    display: flex;
    flex-direction: column;
    width: 100%;

}a{
    text-decoration: none;
}.wrap-results>a>.card{
    height: 100%;
}