<div class="footer">
    <div class="footer-fila">
        <div class="columna">
            <p class="texto-bold">Productos</p>
            <div class="filas">
                <div class="columna">
                    <p class="texto-bold">Mujeres</p>
                </div>
                <div class="columna">
                    <p class="texto-bold">Hombres</p>
                </div>
                <div class="columna">
                    <p class="texto-bold">Niños</p>
                </div>
            </div>
        </div>
        <div class="columna">
            <p class="texto-bold">Acerca de</p>
            <p>Sobre Nosotros</p>
            <p>Nuestro Proposito</p>
            <p>Nuestra Misión</p>
        </div>
    </div>
</div>