.img-thumbnail{
    max-width: 400px;
}.view-vestimenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}.view-info{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 500px;
}.info{
    font-weight: bold;
}.div-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}.view-info-talla{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}h1{
    text-align: center;
    margin-bottom: 50px;
    max-width: 1000px;
}.view-descripcion{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 700px;
    text-justify: inter-word;
}.view-costo{
    font-weight: bolder;
    font-size: 24px;
    text-align: end;
    margin: 20px 0px 20px 0px; 
}
.shop{
    display: flex;
    flex-direction: row;
    justify-content: end;
}.shop>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

}.shop>div>div{
    display: flex;
    flex-direction: column;
    gap: 10px;

}.upperCase{
    text-transform: uppercase;
}