<div class="view-vestimenta">
    <h1>{{vestimenta?.titulo}}</h1>
</div>

<div class="view-vestimenta mb-4">
    
    <div>
        <img src="{{vestimenta?.imagen}}" class="img-thumbnail" alt="...">
    </div>
    <div class="div-info">
        <div>
            <div class="view-info">
                <p class="info">Referencia:</p>
                <p>{{vestimenta?.id}}</p>
            </div>
            <div class="view-info">
                <p class="info">Vestimenta:</p>
                <p>{{vestimenta?.categoria}}</p>
            </div>
            <div>
                <p class="info">Selecciona una talla:</p>
                <select [(ngModel)]="talla" class="form-select" aria-label="Default select example">
                    <option selected>Tallas</option>
                    <option class="upperCase" *ngFor="let tallaItem of vestimenta?.tallaList" value="{{tallaItem.talla}}">{{tallaItem.talla}}</option>
                  </select>
            </div>
                    <p class="view-costo">${{vestimenta?.costo}} COP</p>

            <button type="button" *ngIf="vestimenta?.unidades>0" class="btn btn-success mb-3" (click)="addToCarrito(vestimenta)" >Añadir al carrito</button>
            <div class="alert alert-warning" role="alert" *ngIf="vestimenta?.unidades<=0">
                Sin stock
                </div>
            <div class="alert alert-warning" role="alert" *ngIf="alertMensaje">
            {{alertMensaje}}
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
<div class="view-vestimenta">
    <div class="view-descripcion">
        <p class="info">Descripción:</p>
        <p>{{vestimenta?.descripcion}}</p>
    </div>
</div>

